* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: floralwhite;
    background-image: url("./IMG_6052.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
