* {
    font-family: 'Courier New', Courier, monospace;
    color: floralwhite;
}

body {
    background-image: url("./grad_on_bike.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 4em;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

p1 {
    font-size: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    outline-style: solid;
    outline-width: 0.5px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 0.875em 1em;
text-decoration: none;
outline-style: solid;
outline-width: 0.5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

.active {
    background-color: #04AA6D;
  }

.column {
    width: 45%;
}

#photoLegend {
    width: 100%;
    height: 100%;
}

#navbar {
    font-size: 1em;
    font-weight: bold;
}
