* {
    font-family: 'Courier New', Courier, monospace;
    color: floralwhite;
}

body {
    background-image: url("./grad_on_bike.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 4em;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

p.home {
    font-weight: 500;
}

p.carpentry {
    margin-left: 2em;
    margin-right: 2em;
}

p1 {
    font-size: 2em;
}

ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    outline-style: solid;
    outline-width: 0.5px;
    -webkit-backdrop-filter: blur(15em);
    backdrop-filter: blur(15em);
    -webkit-backdrop-filter: brightness(67%);
    backdrop-filter: brightness(67%);

    z-index: 100;
}

li.bar {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    outline-style: solid;
    outline-width: 0.5px;

    -webkit-backdrop-filter: blur(15em);
    backdrop-filter: blur(15em);
}

li.code {
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.column {
    width: 45%;
}

#photoLegend {
    width: 100%;
    height: 100%;
}

#navbar {
    font-size: 1.05em;
    font-weight: bold;
}

#homeText {
    width: 50%;
    /* margin: auto; */
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    font-weight: 500;
}

#aboutText {
    width: 60%;
    margin: auto;
    -webkit-backdrop-filter: blur(15em);
    backdrop-filter: blur(15em);
}

#carpentryProject {
    width: 60%;
    margin: auto;
    -webkit-backdrop-filter: blur(15em);
    backdrop-filter: blur(15em);
}

img.carpentry {
    width: 100%;
    height: 100%;
}